# This is Git's per-user configuration file.
[user]
	name = Kevin Nielsen
# Please adapt and uncomment the following lines:
#	name = Kevin Nielsen
#	email = keveran@gmail.com

[includeIf "gitdir:~/Fysiofresh/"]
  [user]
    name = Kevin Nielsen
	email = kevinanielsen@outlook.com

[init]
  defaultBranch = main

[alias]
  tree = log --graph --full-history --all --color --date=short --pretty=format:\"%Cred%x09%h %Creset%ad%Cblue%d %Creset %s %C(bold)(%an)%Creset\"
  undo-commit = reset --soft HEAD^
  redo-commit = commit -C HEAD --amend
  addremove = add -A
  co = checkout
  st = status
	staash = stash --all
	bb = !better-branch.sh
	rebase-onto = "!f() { git rebase --onto main $(git merge-base \"$1\" \"$2\") \"$1\"; }; f"

[push]
  default = current
[rerere]
	enabled = true
[maintenance]
	repo = /Users/kevinanielsen/Fysiofresh/platform
